CREATE TABLE public.company_assessments (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    user_id UUID REFERENCES public.users(id) ON DELETE CASCADE,
    assessment_id UUID REFERENCES public.assessment_tests(id) ON DELETE CASCADE,
    status TEXT NOT NULL DEFAULT 'actif',
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    UNIQUE(user_id, assessment_id)
);

ALTER TABLE public.company_assessments ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Users
can
view
their
own
company_assessments\ 
ON public.company_assessments FOR SELECT 
USING (auth.uid() = user_id);

CREATE POLICY \Users
can
insert
their
own
company_assessments\ 
ON public.company_assessments FOR INSERT 
WITH CHECK (auth.uid() = user_id);

CREATE POLICY \Users
can
delete
their
own
company_assessments\ 
ON public.company_assessments FOR DELETE 
USING (auth.uid() = user_id);

CREATE POLICY \Users
can
update
their
own
company_assessments\ 
ON public.company_assessments FOR UPDATE 
USING (auth.uid() = user_id);

